<article class="secondary-container">
  <header>
    <h5>TEX0 parameter</h5>
  </header>
  <div class="field border label prefix"
       [class.invalid]="!valueBox.validity.valid">
    <i>numbers</i>
    <input required
        #valueBox
        id="tex0value"
        type="text"
        required
        pattern="0x([0-9a-fA-F]+)"
        [(ngModel)]="tex0Value">
    <label for="tex0value">Hexadecimal value</label>

    @if (!valueBox.validity.valid) {
      <span class="error">
        @if (valueBox.validity.patternMismatch) {
          Invalid hexadecimal number.
          It has to start with "0x" and contain numbers 0 to 9 and/or characters 'a' to 'f'.
        } @else {
          {{valueBox.validationMessage}}
        }
      </span>
    } @else {
      <span class="helper">Type the TEX0 command as hexadecimal value (base 16).</span>
    }
  </div>
</article>
