<div [formGroup]="parentForm()"
     class="field label suffix small"
     [class.invalid]="!isValid">
  @switch (fieldInfo().type) {
    @case ("number") {
      <input [formControlName]="fieldInfo().name"
             required
             [id]="fieldInfo().name"
             type="number">
      <label [attr.for]="fieldInfo().name">{{fieldInfo().name | titlecase}}</label>
      <i>numbers</i>
    }

    @case ("pixel-storage") {
      <select [formControlName]="fieldInfo().name"
              [id]="fieldInfo().name">
        @for (pixelFormat of pixelStorageFormats; track pixelFormat) {
          <option>{{pixelFormat}}</option>
        }
      </select>
      <label [attr.for]="fieldInfo().name">{{fieldInfo().name | titlecase}}</label>
      <i>arrow_drop_down</i>
    }
    @case ("bool") {
      <label class="checkbox">
        <input type="checkbox" [formControlName]="fieldInfo().name" [id]="fieldInfo().name">
        <span>{{fieldInfo().name | titlecase}}</span>
      </label>
    }
  }

  @if (isValid) {
    <span class="error">
      @if (hasError("required")) {
        Component required.
      }
    </span>
  } @else {
    <span class="helper">Bits: [{{fieldInfo().bitStart}},{{fieldInfo().bitEnd}}]</span>
  }
</div>
