<header>
  <nav>
    <h5 class="max center-align">{{title}}</h5>
    <button class="circle transparent" (click)="changeTheme()">
      @if (isLight) {
        <i>light_mode</i>
      } @else {
        <i>dark_mode</i>
      }
    </button>
  </nav>
</header>

<main class="responsive">
  <article class="secondary-container">
    <header>
      <h5>TEX0</h5>
    </header>
    <div class="field border label prefix">
      <i>numbers</i>
      <input id="text0value" type="number" required>
      <label for="tex0value">Hexadecimal value</label>
    </div>
  </article>

  <article>
    <header>
      <h5>Detailed fields</h5>
    </header>
    <tex0-form></tex0-form>
  </article>
</main>
